@model QuanLyKho.Models.KhachHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KhachHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SĐT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SĐT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NganHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NganHang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaKhachHang }) |
    @Html.ActionLink("Back to List", "Index")
</p>
